.choose-text {
  margin: 0px;
  width: 100px;
  line-height: 70px;
  font-family: PingFangSC-Regular;
  font-size: 28px;
  color: #ffffff;
  text-align: center;
}
.choose-main {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 700px;
  margin-left: 100px;
  position: absolute;
  background-image: linear-gradient(90deg, #fdc63a 0%, #fd9a30 100%);
  box-shadow: 0 0 4px 0 #f27436;
  border-radius: 100px;
}
.main-font {
  margin: 0px;
  width: 130px;
  line-height: 60px;
  font-family: PingFangSC-Regular;
  font-size: 28px;
  color: #ffffff;
  text-align: center;
  float: left;
  position: absolute;
}
.clickOver {
  left: 0px;
  background: #ffffff;
  box-shadow: 0 0 4px 0 #d89c22;
  border-radius: 100px;
  width: 130px;
  height: 80px;
  position: absolute;
  transition: all 0.6s;
}
.clickOver-text {
  margin: 0px;
  font-family: PingFangSC-Regular;
  font-size: 28px;
  color: #f5b92c;
  text-align: center;
  line-height: 60px;
}
.timeComponents {
  font-size: 2.0rem;
}
.button-main {
  width: 100px;
  height: 150px;
  position: absolute;
}
.switch-bg {
  top: 0px;
  left: 0px;
  right: 0px;
  background: #ffffff;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin: auto;
  position: absolute;
}
.switch-icon {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 80px;
  height: 80px;
  margin: auto;
  position: absolute;
}
.switch-click {
  opacity: 0.5;
}
.switch-text {
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: 0px;
  font-family: PingFangSC-Regular;
  font-size: 24px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  position: absolute;
}
.sliderbar-main {
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
  background: rgba(255, 255, 255, 0.35);
  border-radius: 100px;
  height: 61px;
}
.multicolorBar {
  height: 100%;
  border-radius: 4px;
  background-image: linear-gradient(90deg, #6d50e9 20%, #ec5828 100%);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
}
.pullCircle {
  margin-left: -130px;
  margin-top: -60px;
  border-radius: 100%;
  position: absolute;
  background: #ffffff;
  box-shadow: 0 0 4px 0 #228dfc;
  width: 130px;
  height: 61px;
}
.pullCircleInside {
  background: #302082;
  box-shadow: inset 0 0 23px 0 #22175d;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  margin: auto;
  position: absolute;
}
.increaseIcon {
  width: 40px;
  height: 40px;
  background: url(../images/stateicon/air/air-strongwind.png) no-repeat;
  background-size: contain;
  position: absolute;
  right: -60px;
  margin-top: -24px;
}
.reduceIcon {
  width: 26px;
  height: 26px;
  background: url(../images/stateicon/air/air-weakwind.png) no-repeat;
  background-size: contain;
  position: absolute;
  left: -46px;
  margin-top: -17px;
}
.arcBar {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.setTemp {
  font-family: PingFangSC-Regular;
  font-size: 70px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 0px;
  right: 0px;
  margin: auto;
}
.homeTemp-main {
  position: absolute;
  top: 50%;
  left: 0px;
  right: 0px;
  width: 30%;
  margin: auto;
}
.homeTemp-main p {
  font-family: PingFangSC-Regular;
  font-size: 34px;
  color: #ffffff;
  letter-spacing: 0;
  margin-top: 10px;
  margin-bottom: 0px;
  text-align: center;
}
.tempAdd {
  border: 2px solid #ffffff;
  border-radius: 100px;
  width: 120px;
  height: 50px;
  left: 20%;
  top: 90%;
  position: absolute;
}
.tempSub {
  border: 2px solid #ffffff;
  border-radius: 100px;
  width: 120px;
  height: 50px;
  left: 60%;
  top: 90%;
  position: absolute;
}
.tempButton {
  font-family: PingFangSC-Regular;
  font-size: 70px;
  line-height: 40px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  z-index: 5;
}
.login-main {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #FFFFFF;
  opacity: 0.9;
}
.login-logo {
  position: absolute;
  z-index: 999;
  top: 20%;
  left: 0px;
  right: 0px;
  margin: auto;
  width: 350px;
  height: 70px;
  background-image: url(../images/login/logo.png);
}
.username {
  position: absolute;
  width: 450px;
  height: 70px;
  top: 40%;
  left: 0px;
  right: 0px;
  margin: auto;
  border: 1px solid #50b4fe;
  border-radius: 100px;
}
.username span {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0px;
  bottom: 0px;
  left: 20px;
  margin: auto;
  background-image: url(../images/login/user.png);
}
.password {
  position: absolute;
  width: 450px;
  height: 70px;
  top: 60%;
  left: 0px;
  right: 0px;
  margin: auto;
  border: 1px solid #50b4fe;
  border-radius: 100px;
}
.password span {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0px;
  bottom: 0px;
  left: 20px;
  margin: auto;
  background-image: url(../images/login/password.png);
}
.inputText {
  position: fixed;
  margin-left: 70px;
  width: 360px;
  height: 68px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}
.inputText input {
  position: fixed;
  margin-left: 10px;
  margin-top: 3px;
  width: 300px !important;
  height: 60px !important;
  line-height: 50px !important;
  border: 0px !important;
  border-top-right-radius: 100px !important;
  border-bottom-right-radius: 100px !important;
  font-family: PingFangSC-Regular;
  font-size: 32px;
  color: #50b4fe;
  letter-spacing: 0;
  text-align: left;
}
/*-webkit-box-shadow: 0 0 0 400px #22175d inset;
 -webkit-text-fill-color: #ffffff;//设置字体颜色
.inputText input:-webkit-autofill {
  -webkit-text-fill-color: #ffffff;
}*/
.loginButton {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 80%;
  width: 223px;
  height: 70px;
  background-image: linear-gradient(-135deg, #5fc8ff 0%, #1f73fc 100%);
  box-shadow: 0 0 10px 0 #41a0fe;
  border-radius: 100px;
}
.loginButton:active {
  box-shadow: 0 0 10px 0 #FFFFFF;
  background-image: linear-gradient(-135deg, #1f73fc 0%, #1f73fc 100%);
}
.loginButton p {
  font-family: PingFangSC-Regular;
  font-size: 30px;
  letter-spacing: 0.12px;
  text-align: center;
  line-height: 70px;
  margin: 0px;
  color: #ffffff;
}
.hbmenu-main {
  right: 0px;
  margin-top: 0px;
  width: 220px;
  opacity: 0.94;
  background: #50b4fe;
  border-radius: 6px;
  z-index: 10;
  position: absolute;
}
.top-triangle {
  position: absolute;
  height: 20px;
  width: 20px;
  right: 10px;
  top: -20px;
  border-width: 0 10px 10px;
  border-style: solid;
  border-color: transparent transparent #5bb3f4;
}
.menu-li {
  width: 100%;
  list-style: none;
  height: 50px;
}
.menu-li p {
  font-family: PingFangSC-Regular;
  font-size: 24px;
  color: #ffffff;
  letter-spacing: 0.1px;
  text-align: center;
  margin: 0px;
}
* {
  box-sizing: border-box;
}
html {
  -ms-touch-action: none;
}
body,
ul,
li {
  padding: 0;
  margin: 0;
  border: 0;
}
input,
textarea {
  outline: 0;
  border-radius: 0;
  border: none;
}
body {
  font-size: 12px;
  font-family: ubuntu, helvetica, arial;
  overflow: hidden;
  /* this is important to prevent the whole page to bounce */
}
.header {
  position: relative;
  z-index: 99;
  width: 100%;
  height: 79px;
  line-height: 79px;
  padding: 0;
  color: #eee;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.logo {
  position: absolute;
  left: 20px;
  top: 20px;
}
.chooseSeverKuang {
  position: absolute;
  width: 485px;
  height: 70px;
  top: 5px;
  left: 20px;
  margin: auto;
  border: 1px solid #f8f8ff;
  border-radius: 100px;
}
.chooseSever {
  background: #f8f8ff;
  border-radius: 100px 0 0 100px;
  width: 155px;
  height: 70px;
  font-size: 1.4rem;
  color: #50b4fe;
  letter-spacing: 0.05px;
  text-align: center;
  line-height: 70px;
}
.choosekuang {
  width: 240px;
  height: 70px;
  color: #f8f8ff;
  text-align: center;
  line-height: 70px;
  font-size: 1.6rem;
}
.choosedowm {
  width: 40px;
  height: 70px;
  color: #f8f8ff;
  text-align: center;
  line-height: 70px;
  margin-top: 25px;
  margin-right: 15px;
  font-size: 1.6rem;
  background: url(../images/icon/down.png) no-repeat;
  background-size: contain;
}
.menuicon {
  position: relative;
  top: 15px;
  margin: auto 25px auto 0px;
  height: 55px;
  width: 55px;
  float: right;
  text-align: center;
}
.hbcd {
  background: url("../images/hbcd.svg") no-repeat;
  background-size: contain;
}
.close {
  background: url("../images/close.svg") no-repeat;
  background-size: contain;
}
.footer {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 48px;
  background: #444;
  padding: 0;
  border-top: 1px solid #444;
}
.wrapper {
  position: absolute;
  z-index: 2;
  top: 0px;
  bottom: 0px;
  left: 0;
  right: 0px;
  margin-top: 80px;
  margin-bottom: 0px;
  background: #ccc;
  overflow: hidden;
}
.scroller {
  position: absolute;
  z-index: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}
.scroller ul {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  text-align: center;
}
.scroller li {
  display: block;
  float: left;
  height: 100%;
  background: #ffffff;
  font-size: 14px;
  position: relative;
}
.eachpage-main {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: auto;
  left: 0;
  right: 0;
  height: 98%;
  position: absolute;
  width: 100% ;
}
.eachpage-main1 {
  margin-left: 0.5%;
  margin-right: 0;
  margin-top: 0.5%;
  margin-bottom: auto;
  left: 0;
  right: 0;
  height: 98%;
  position: absolute;
  width: 99% ;
}
.weatherbox-main {
  box-shadow: 0 0 5px 0 #3a327d;
  border-radius: 10px;
  margin: 1% 0 0 1.5%;
  width: 50%;
  height: 36%;
  float: left;
  position: relative;
}
.touchbox-main {
  width: 24%;
  height: 40%;
  margin: 0.5% 0px 0.5% 1.5%;
  border-radius: 10px;
  position: relative;
  float: left;
  z-index: 1;
}
.active {
  opacity: 0.8;
  border: 1px  #f8f8ff solid;
}
@-webkit-keyframes doTouch {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    opacity: 1;
  }
  50% {
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    opacity: 1;
  }
}
@keyframes doTouch {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    opacity: 1;
  }
  50% {
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    opacity: 1;
  }
}
.touchbox-main p {
  left: 0px;
  right: 0px;
  margin-right: 20px;
  margin-top: 15px;
  position: absolute;
  font-family: PingFangSC-Regular;
  font-size: 26px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: right;
}
.boxpic {
  width: 55%;
  height: 58%;
  bottom: 20px;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
}
.bgcBlue {
  background-color: #50b4fe;
}
.bgcGray {
  background-color: rgba(255, 255, 255, 0.3);
}
.boxSh {
  box-shadow: 0 0 6px 0 #4498d7;
}
.borde1 {
  border-color: transparent transparent #5bb3f4;
}
.borde2 {
  border-color: transparent transparent rgba(255, 255, 255, 0.3);
}
.light-page {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-top: 0px;
  background-image: linear-gradient(-180deg, #fdd06e 0%, #f96215 100%);
  box-shadow: 0 0 20px 0 #fdd973;
  width: 100%;
  height: 100%;
  position: fixed;
}
.LightPage-left {
  top: 0px;
  bottom: 0px;
  left: 0px;
  height: 100%;
  width: 35%;
  margin-top: 0;
  position: absolute;
}
.device-icon {
  top: 1%;
  left: 0;
  right: 0;
  width: 53%;
  height: 46%;
  margin: auto;
  position: absolute;
}
.device-name {
  top: 50%;
  left: 0px;
  right: 0px;
  width: 50%;
  height: auto;
  margin: auto;
  position: absolute;
  text-align: center;
  z-index: 99;
}
/*light*/
.lighticon-open {
  background: url("../images/deviceimg/Device-light.png") no-repeat;
  background-size: contain;
}
.lighticon-open1 {
  background: url("../images/stateicon/light/light-SWITCH1.png") no-repeat;
  background-size: contain;
}
.lighticon-close {
  background: url("../images/deviceimg/Device-light.png") no-repeat;
  background-size: contain;
}
.lighticon-close1 {
  background: url("../images/stateicon/light/light-SWITCH2.png") no-repeat;
  background-size: contain;
}
/*空调的图标*/
.airicon-open1 {
  background: url("../images/stateicon/air/air-SWITCH1.png") no-repeat;
  background-size: contain;
}
.airicon-close1 {
  background: url("../images/stateicon/air/air-SWITCH2.png") no-repeat;
  background-size: contain;
}
.airicon-air1 {
  background: url("../images/stateicon/air/air-AIR1.png") no-repeat;
  background-size: contain;
}
.airicon-air2 {
  background: url("../images/stateicon/air/air-AIR2.png") no-repeat;
  background-size: contain;
}
.airicon-cool1 {
  background: url("../images/stateicon/air/air-COOL1.png") no-repeat;
  background-size: contain;
}
.airicon-cool2 {
  background: url("../images/stateicon/air/air-COOL2.png") no-repeat;
  background-size: contain;
}
.airicon-hot1 {
  background: url("../images/stateicon/air/air-HOT1.png") no-repeat;
  background-size: contain;
}
.airicon-hot2 {
  background: url("../images/stateicon/air/air-HOT2.png") no-repeat;
  background-size: contain;
}
.tvicon-open {
  background: url("../images/stateicon/tv/open.png") no-repeat;
  background-size: contain;
}
.tvicon-mute {
  background: url("../images/stateicon/tv/mute.png") no-repeat;
  background-size: contain;
}
.tvicon-return {
  background: url("../images/stateicon/tv/return.png") no-repeat;
  background-size: contain;
}
/*门的图标*/
.dooricon-switch2 {
  background: url("../images/stateicon/door/door-switch2.png") no-repeat;
  background-size: contain;
}
/*窗帘的图标*/
.curtainicon-close1 {
  background: url("../images/stateicon/curtain/curtain-close1.png") no-repeat;
  background-size: contain;
}
.curtainicon-close2 {
  background: url("../images/stateicon/curtain/curtain-close2.png") no-repeat;
  background-size: contain;
}
.curtainicon-open1 {
  background: url("../images/stateicon/curtain/curtain-open1.png") no-repeat;
  background-size: contain;
}
.curtainicon-open2 {
  background: url("../images/stateicon/curtain/curtain-open2.png") no-repeat;
  background-size: contain;
}
.curtainicon-stop1 {
  background: url("../images/stateicon/curtain/curtain-stop1.png") no-repeat;
  background-size: contain;
}
.curtainicon-stop2 {
  background: url("../images/stateicon/curtain/curtain-stop2.png") no-repeat;
  background-size: contain;
}
/*多键面板*/
.swtk1icon-open {
  background: url("../images/stateicon/swtk/swtk1open.png") no-repeat;
  background-size: contain;
}
.swtk1icon-close {
  background: url("../images/stateicon/swtk/swtk1close.png") no-repeat;
  background-size: contain;
}
/*多键面板*/
.swtk2icon-open {
  background: url("../images/stateicon/swtk/swtk2open.png") no-repeat;
  background-size: contain;
}
.swtk2icon-close {
  background: url("../images/stateicon/swtk/swtk2close.png") no-repeat;
  background-size: contain;
}
.swtk3icon-open {
  background: url("../images/stateicon/swtk/swtk3open.png") no-repeat;
  background-size: contain;
}
.swtk3icon-close {
  background: url("../images/stateicon/swtk/swtk3close.png") no-repeat;
  background-size: contain;
}
.swtk4icon-open {
  background: url("../images/stateicon/swtk/swtk4open.png") no-repeat;
  background-size: contain;
}
.swtk4icon-close {
  background: url("../images/stateicon/swtk/swtk4close.png") no-repeat;
  background-size: contain;
}
.swtk5icon-open {
  background: url("../images/stateicon/swtk/swtk5open.png") no-repeat;
  background-size: contain;
}
.swtk5icon-close {
  background: url("../images/stateicon/swtk/swtk5close.png") no-repeat;
  background-size: contain;
}
.swtk6icon-open {
  background: url("../images/stateicon/swtk/swtk6open.png") no-repeat;
  background-size: contain;
}
.swtk6icon-close {
  background: url("../images/stateicon/swtk/swtk6close.png") no-repeat;
  background-size: contain;
}
.swtk7icon-open {
  background: url("../images/stateicon/swtk/swtk7open.png") no-repeat;
  background-size: contain;
}
.swtk7icon-close {
  background: url("../images/stateicon/swtk/swtk7close.png") no-repeat;
  background-size: contain;
}
.icon-click {
  opacity: 0.5;
}
.LightPage-right {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-left: 35%;
  height: 100%;
  position: absolute;
}
.light-lev {
  margin-top: 20%;
  margin-left: 2%;
  height: 80px;
  position: relative;
}
.light-ctm {
  margin-top: 20%;
  margin-left: 2%;
  height: 80px;
  position: absolute;
}
.air-page {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-top: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  background-image: linear-gradient(-180deg, #5fcaff 0%, #1f8afc 100%);
  box-shadow: 0 0 10px 0 #2b96fd;
}
.air-left {
  width: 40%;
  top: 0px;
  bottom: 0px;
  position: absolute;
}
.air-icon {
  width: 80%;
  height: 40%;
  top: 20%;
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
  background: url(../images/deviceimg/Device-air.png) no-repeat;
  background-size: contain;
}
.air-right {
  margin-left: 40%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
}
.windSet {
  height: 60px;
  top: 80%;
  left: 0px;
  right: 0px;
  position: absolute;
}
.curtain-page {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-top: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  background-image: linear-gradient(-180deg, #4ef29d 0%, #12d678 100%);
  box-shadow: 0 0 21px 0 #5af0a4;
}
.curtain-left {
  width: 50%;
  top: 0px;
  bottom: 0px;
  position: absolute;
}
.curtain-icon {
  width: 80%;
  height: 60%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
  background: url(../images/deviceimg/Device-curtain.png) no-repeat;
  background-size: contain;
}
.curtain-operate {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 60px;
  margin: auto 0px auto 650px;
  position: absolute;
  height: 200px;
}
.door-page {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-top: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  background-image: linear-gradient(-180deg, #a976e7 0%, #5e41c9 100%);
  box-shadow: 0 0 20px 0 #986ae0;
}
.Door-left {
  width: 700px;
  top: 0px;
  bottom: 0px;
  position: absolute;
}
.door-icon {
  width: 40%;
  height: 60%;
  top: 5%;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
  background: url(../images/deviceimg/Device-door.png) no-repeat;
  background-size: contain;
}
.Door-right {
  margin-left: 700px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
}
/********************************多键面板**********************************/
.swtk1-page {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-top: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  background-image: linear-gradient(-180deg, #f37bbe 0%, #f65886 100%);
  box-shadow: 0 0 20px 0 #fa5a9a;
}
.swtk1-left {
  width: 50%;
  top: 0px;
  bottom: 0px;
  position: absolute;
}
.swtk1-icon {
  width: 60%;
  height: 60%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
  background: url(../images/deviceimg/Device-swtk1.png) no-repeat;
  background-size: contain;
}
.swtk1-right {
  margin-left: 50%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
}
.swtk2-page {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-top: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  background-image: linear-gradient(-180deg, #5fc8ff 0%, #1f73fc 100%);
  box-shadow: 0 0 20px 0 #41a0fe;
}
.swtk2-icon {
  width: 60%;
  height: 60%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
  background: url(../images/deviceimg/Device-swtk2.png) no-repeat;
  background-size: contain;
}
.swtk3-page {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-top: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  background-image: linear-gradient(-180deg, #6fdef5 0%, #0aadfb 100%);
  box-shadow: 0 0 20px 0 #51cff6;
}
.swtk3-left {
  width: 600px;
  top: 0px;
  bottom: 0px;
  position: absolute;
}
.swtk3-icon {
  width: 60%;
  height: 60%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
  background: url(../images/deviceimg/Device-swtk3.png) no-repeat;
  background-size: contain;
}
.swtk3-right {
  margin-left: 700px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
}
/*四键开关*/
.swtk4-page {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-top: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  background-image: linear-gradient(-180deg, #f99a57 0%, #ed5555 100%);
  box-shadow: 0 0 20px 0 #f27d68;
}
.swtk4-icon {
  width: 60%;
  height: 60%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
  background: url(../images/deviceimg/Device-swtk4.png) no-repeat;
  background-size: contain;
}
/*五键开关*/
.swtk5-page {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-top: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  background-image: linear-gradient(-180deg, #fdd06e 0%, #f96215 100%);
  box-shadow: 0 0 20px 0 #fdd973;
}
.swtk5-icon {
  width: 60%;
  height: 60%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
  background: url(../images/deviceimg/Device-swtk5.png) no-repeat;
  background-size: contain;
}
.swtk6-page {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-top: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  background-image: linear-gradient(-180deg, #4ef29d 0%, #12d678 100%);
  box-shadow: 0 0 21px 0 #5af0a4;
}
.swtk6-icon {
  width: 60%;
  height: 60%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
  background: url(../images/deviceimg/Device-swtk6.png) no-repeat;
  background-size: contain;
}
/*******************************多路开关******************************/
.clrl1-page {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-top: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  background-image: linear-gradient(-180deg, #5fc8ff 0%, #1f73fc 100%);
  box-shadow: 0 0 20px 0 #41a0fe;
}
.clrl1-icon {
  width: 60%;
  height: 60%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
  background: url(../images/deviceimg/Device-clrl1.png) no-repeat;
  background-size: contain;
}
.sslux-page {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-top: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  background-image: linear-gradient(-180deg, #a976e7 0%, #5e41c9 100%);
  box-shadow: 0 0 20px 0 #986ae0;
}
.sslux-icon {
  width: 60%;
  height: 60%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
  background: url(../images/deviceimg/Device-sslux.png) no-repeat;
  background-size: contain;
}
/*二路开关*/
.swtk0-page {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-top: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  background-image: linear-gradient(-180deg, #5fc8ff 0%, #1f73fc 100%);
  box-shadow: 0 0 20px 0 #41a0fe;
}
.swtk0-icon {
  width: 60%;
  height: 60%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
  background: url(../images/deviceimg/Device-swtk0.png) no-repeat;
  background-size: contain;
}
/*地暖开关*/
.clrld-page {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-top: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  background-image: linear-gradient(-180deg, #f99a57 0%, #ed5555 100%);
  box-shadow: 0 0 20px 0 #f27d68;
}
.clrld-icon {
  width: 60%;
  height: 60%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
  background: url(../images/deviceimg/Device-clrld.png) no-repeat;
  background-size: contain;
}
/*智能插座*/
.clrlm-page {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-top: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  background-image: linear-gradient(-180deg, #f37bbe 0%, #f65886 100%);
  box-shadow: 0 0 20px 0 #fa5a9a;
}
.clrlm-icon {
  width: 60%;
  height: 60%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
  background: url(../images/deviceimg/Device-clr1m.png) no-repeat;
  background-size: contain;
}
.largeCircle {
  opacity: 0.8;
  background: #ff7ab2;
  width: 350px;
  height: 350px;
  border-radius: 100%;
  position: absolute;
  top: 15%;
  left: 0px;
  right: 0px;
  margin: auto;
}
.tuchu {
  opacity: 1;
  z-index: 999;
  color: #fff6de ;
}
.gbCircle {
  background: url(../images/img/dianliangqiu.png) no-repeat;
  background-size: contain;
  margin: auto;
  position: absolute;
}
/**********************irbyt-page（红外转发）****************************/
.irbyt-page {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-top: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  background-image: linear-gradient(-180deg, #a976e7 0%, #5e41c9 100%);
  box-shadow: 0 0 20px 0 #986ae0;
}
.irbyt-kuang {
  opacity: 0.8;
  background: #a976e7;
  box-shadow: 0 0 21px 0 #4e2fac;
  border-radius: 10px;
  width: 28%;
  height: 60%;
}
.irbyt-icon {
  background: url(../images/deviceimg/Device-tongyong.png) no-repeat;
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 60%;
  margin-top: 20% ;
}
.irbytTV-icon {
  background: url(../images/deviceimg/Device-irbytTV.png) no-repeat;
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 60%;
  margin-top: 20% ;
}
.irbytAir-icon {
  background: url(../images/deviceimg/Device-irbytAir.png) no-repeat;
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 60%;
  margin-top: 20% ;
}
.irbyt-txt {
  font-family: PingFangSC-Regular;
  font-size: 24px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  margin-top: 20px ;
}
.irbytTV-page {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-top: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  background-image: linear-gradient(-180deg, #6fdef5 0%, #0aadfb 100%);
  box-shadow: 0 0 20px 0 #51cff6;
}
.irbytTVicon {
  width: 80%;
  height: 40%;
  top: 30%;
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
  background: url(../images/deviceimg/Device-irbytStudy.png) no-repeat;
  background-size: contain;
}
.irbytStudyicon {
  width: 400px;
  height: 480px;
  top: 0px;
  bottom: 0px;
  left: 120px;
  right: 0px;
  margin: auto;
  position: absolute;
  background: url(../images/deviceimg/Device-TV.png) no-repeat;
  background-size: contain;
}
.TVyuan {
  opacity: 0.7;
  background: #ffffff;
  width: 270px;
  height: 270px;
  border-radius: 100%;
  position: absolute;
  top: 20%;
  left: 0px;
  right: 0px;
  margin: auto;
}
.TVupicon {
  width: 80px;
  height: 80px;
  top: 2%;
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
  background: url(../images/stateicon/tv/up.png) no-repeat;
  background-size: contain;
}
.TVdownicon {
  width: 80px;
  height: 80px;
  left: 0px;
  right: 0px;
  bottom: 2%;
  margin: auto;
  position: absolute;
  background: url(../images/stateicon/tv/down.png) no-repeat;
  background-size: contain;
}
.TVlefticon {
  width: 80px;
  height: 80px;
  top: 35%;
  left: 2%;
  margin: auto;
  position: absolute;
  background: url(../images/stateicon/tv/left.png) no-repeat;
  background-size: contain;
}
.TVrighticon {
  width: 80px;
  height: 80px;
  top: 35%;
  right: 2%;
  margin: auto;
  position: absolute;
  background: url(../images/stateicon/tv/right.png) no-repeat;
  background-size: contain;
}
.TVokicon {
  width: 110px;
  height: 110px;
  top: 30%;
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
  background-color: #FFFFFF;
  border-radius: 100%;
  background: url(../images/stateicon/tv/ok.png) no-repeat;
  background-size: contain;
}
.tvButton {
  border: 2px solid #ffffff;
  border-radius: 100px;
  width: 116px;
  height: 56px;
  font-family: PingFangSC-Regular;
  font-size: 24px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  line-height: 56px;
}
/******************************通用红外转发***************************************/
.irbytStudy-page {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-top: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  background-image: linear-gradient(-180deg, #a976e7 0%, #5e41c9 100%);
  box-shadow: 0 0 20px 0 #986ae0;
}
.rightStudykuang {
  opacity: 0.8;
  background: #a976e7;
  box-shadow: 0 2px 4px 0 #7753d3;
  border-radius: 4px;
}
.IrbytStudyText {
  font-size: 2.4rem ;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
}
.music-page {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  background-image: linear-gradient(-179deg, #62f2b1 0%, #13c2d7 100%);
  box-shadow: 0 0 20px 0 #4de3d1;
}
.right-music {
  top: 0px;
  bottom: 0px;
  right: 0px;
  height: 600px;
  width: 700px;
  margin: auto;
  position: absolute;
}
.left-music {
  top: 100px;
  bottom: 0px;
  left: 0px;
  height: 540px;
  width: 600px;
  margin: auto;
  position: absolute;
}
.musicItem {
  opacity: 0.75;
  background: #13c2d7;
  box-shadow: 0 2px 4px 0 #32d4c8;
  border-radius: 4px;
  width: 99%;
  margin: 0 auto;
  height: 60px;
}
.musicItemtext {
  font-size: 20px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: left;
  line-height: 60px;
}
.music-Message {
  font-size: 20px;
  color: #17a9ae;
  letter-spacing: 0;
  text-align: center;
}
.title {
  font-family: PingFangSC-Regular;
  font-size: 48px;
  color: #ffffff;
  margin: 0px;
  letter-spacing: 0;
  text-align: center;
  top: 30px;
  left: 0px;
  right: 0px;
  position: absolute;
}
.singer {
  font-family: PingFangSC-Regular;
  font-size: 30px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  margin: 0px;
  top: 100px;
  left: 0px;
  right: 0px;
  position: absolute;
}
.controller-Main {
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 150px;
  position: absolute;
}
.music-Lyric {
  height: 300px;
  position: absolute;
  bottom: 200px;
  left: 0px;
  right: 0px;
  margin: auto;
  overflow: hidden;
}
.lyricScroll {
  top: 150px;
  left: 0px;
  right: 0px;
  position: absolute;
  transition: all 0.6s;
}
.lyricScroll li {
  list-style: none;
  opacity: 0.3;
  height: 80px;
  font-family: PingFangSC-Regular;
  font-size: 34px;
  color: #ffffff;
  font-weight: 500;
  line-height: 80px;
  letter-spacing: 0;
  text-align: center;
}
.currentLrc {
  opacity: 0.7 !important;
  font-size: 40px !important;
}
.progressBar {
  width: 680px;
  height: 6px;
  background: #7ee4db;
  border-radius: 100px;
  left: 0px;
  right: 0px;
  position: absolute;
  margin: auto;
}
.hasPlay {
  background: #18a9ae;
  border-radius: 100px;
  height: 6px;
}
.lastMusic {
  width: 60px;
  height: 45px;
  top: 0px;
  bottom: 0px;
  left: 180px;
  margin: auto;
  position: absolute;
  background-image: url(../images/stateicon/musicPage/lastMusic.png);
  background-size: contain;
}
.musicController {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  width: 100px;
  height: 100px;
  position: absolute;
}
.play {
  background-image: url(../images/stateicon/musicPage/play.png);
  background-size: contain;
}
.pause {
  background-image: url(../images/stateicon/musicPage/pause.png);
  background-size: contain;
}
.nextMusic {
  width: 60px;
  height: 45px;
  top: 0px;
  bottom: 0px;
  right: 180px;
  margin: auto;
  position: absolute;
  background-image: url(../images/stateicon/musicPage/nextMusic.png);
  background-size: contain;
}
/** layout */
.fs5 {
  font-size: 0.5rem;
}
.fs8 {
  font-size: 0.8rem;
}
.fs9 {
  font-size: 0.9rem;
}
.fs10 {
  font-size: 1.0rem;
}
.fs12 {
  font-size: 1.2rem;
}
.fs13 {
  font-size: 1.3rem;
}
.fs14 {
  font-size: 1.4rem;
}
.fs15 {
  font-size: 1.5rem;
}
.fs16 {
  font-size: 1.6rem;
}
.fs18 {
  font-size: 1.8rem;
}
.fs20 {
  font-size: 2.0rem;
}
.fs24 {
  font-size: 2.4rem ;
}
.fs30 {
  font-size: 3.0rem;
}
.fs32 {
  font-size: 3.2rem;
}
.fs50 {
  font-size: 5.0rem;
}
.fs70 {
  font-size: 7.0rem;
}
.fs80 {
  font-size: 8.0rem;
}
.fs100 {
  font-size: 10rem;
}
.w_20 {
  width: 20%;
}
.w_25 {
  width: 25%;
}
.w_30 {
  width: 30%;
}
.w_33 {
  width: 33.33%;
}
.w_40 {
  width: 40%;
}
.w_50 {
  width: 50%;
}
.w_60 {
  width: 60%;
}
.w_70 {
  width: 70%;
}
.w_80 {
  width: 80%;
}
.w_90 {
  width: 90%;
}
.w_100 {
  width: 100%;
}
.w10 {
  width: 10px;
}
.w20 {
  width: 20px;
}
.w30 {
  width: 30px;
}
.mw45 {
  min-width: 45%;
}
.w50 {
  width: 50px;
}
.h_10 {
  height: 10%;
}
.h_20 {
  height: 20%;
}
.h_80 {
  height: 80%;
}
.h_90 {
  height: 90%;
}
.h_100 {
  height: 100%;
}
.h10 {
  height: 10px;
}
.h20 {
  height: 20px;
}
.h30 {
  height: 30px;
}
.h50 {
  height: 50px;
}
.h80 {
  height: 80px;
}
.h100 {
  height: 100px;
}
.h150 {
  height: 150px;
}
.h200 {
  height: 200px;
}
.h250 {
  height: 250px;
}
.h300 {
  height: 300px;
}
.h350 {
  height: 350px;
}
.lh30 {
  line-height: 30px;
}
.mt5 {
  margin-top: 5px;
}
.ml5 {
  margin-left: 5px;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.cb {
  clear: both;
}
.tac {
  text-align: center;
}
.tar {
  text-align: right;
}
.tal {
  text-align: left;
}
.cen50 {
  width: 50%;
  margin-left: 25%;
}
.cenW60 {
  width: 60%;
  margin-left: 20%;
}
.cenW70 {
  width: 70%;
  margin-left: 15%;
}
.cenW80 {
  width: 80%;
  margin-left: 10%;
}
.cenW80 {
  width: 80%;
  margin-left: 10%;
}
.cenW90 {
  width: 90%;
  margin-left: 5%;
}
.cenW95 {
  width: 95%;
  margin-left: 2.5%;
}
.cenW100 {
  width: 100%;
}
/** color */
.black {
  color: black;
}
.Blue {
  color: #44cdfc;
}
.LightBlue {
  color: #8de2ff;
}
.Gray {
  color: #8a8a8a;
}
.LightGrey {
  color: #cecece;
}
.White {
  color: #ffffff;
}
.Red {
  color: #ff4b4b;
}
.Pink {
  color: #ff809b;
}
.DeepBlue {
  color: #3b9eff;
}
.Green {
  color: #73be59;
}
.Yellow {
  color: #ffcc33;
}
.gray1 {
  color: #E6E6E6;
}
.gray2 {
  color: #efeff4;
}
.Red1 {
  color: #FC7743;
}
.Blue_bgc {
  background-color: #44cdfc !important;
}
.LightBlue_bgc {
  background-color: #8de2ff !important;
}
.Gray_bgc {
  background-color: #8a8a8a !important;
}
.LightGrey_bgc {
  background-color: #cecece !important;
}
.White_bgc {
  background-color: #ffffff !important;
}
.Red_bgc {
  background-color: #ff4b4b !important;
}
.Pink_bgc {
  background-color: #ff809b !important;
}
.DeepBlue_bgc {
  background-color: #3b9eff !important;
}
.Green_bgc {
  background-color: #73be59 !important;
}
.Yellow_bgc {
  background-color: #ffcc33 !important;
}
.Gray1_bgc {
  background-color: #E6E6E6 !important;
}
.Gray2_bgc {
  background-color: #efeff4 !important;
}
.Gray3_bgc {
  background-color: #EEEEEE !important;
}
.Red1_bgc {
  background-color: #FC7743 !important;
}
.Blue_bc {
  border: 1px solid #44cdfc !important;
}
.LightBlue_bc {
  border: 1px solid #44cdfc !important;
}
.Gray_bc {
  border: 1px solid #8a8a8a !important;
}
.LightGrey_bc {
  border: 1px solid #cecece !important;
}
.White_bc {
  border: 1px solid #ffffff !important;
}
.Red_bc {
  border: 1px solid #ff4b4b !important;
}
.Pink_bc {
  border: 1px solid #ff809b !important;
}
.DeepBlue_bc {
  border: 1px solid #3b9eff !important;
}
.Yellow_bc {
  border: 1px solid #ffcc33 !important;
}
.LightGrey_BTC {
  border-top: 1px solid #cecece !important;
}
.LightGrey_BBC {
  border-bottom: 1px solid #cecece !important;
}
/* 备用颜色 */
.DeepGray {
  color: #696969;
}
.Black {
  color: #000000;
}
.DeepGray_bgc {
  background-color: #696969 !important;
}
.Black_bgc {
  background-color: #000000 !important;
}
:root .gradient {
  -webkit-filter: none;
          filter: none;
}
/*.active{
  background-color:#0E97d6;
  color: #dddddd;
}*/
/** base */
a {
  text-decoration: none;
}
.center {
  margin: 0 auto;
}
.main {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
}
.hide {
  display: none !important;
}
.rollBox {
  overflow: hidden;
  overflow-y: scroll;
  -webkit-scroll-snap-points-y: repeat(100%);
      -ms-scroll-snap-points-y: repeat(100%);
          scroll-snap-points-y: repeat(100%);
  -webkit-scroll-snap-type: mandatory;
      -ms-scroll-snap-type: mandatory;
          scroll-snap-type: mandatory;
  transition: all 2s ease-in-out;
}
.Msg-main {
  position: absolute;
  top: 40%;
  left: 25%;
  width: 50%;
  height: 180px;
  opacity: 0.7;
  background: #f8f8ff;
  box-shadow: 0 0 9px 0 rgba(147, 147, 147, 0.77);
  border-radius: 10px;
  z-index: 999;
}
.loading-main {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 20%;
  height: 100px;
  opacity: 0.7;
  background: #f8f8ff;
  box-shadow: 0 0 9px 0 rgba(147, 147, 147, 0.77);
  border-radius: 10px;
  z-index: 999;
}
.Msg-mainlist {
  position: absolute;
  top: 12%;
  left: 12%;
  width: 300px;
  height: 320px;
  opacity: 0.7;
  background: #f8f8ff;
  box-shadow: 0 0 9px 0 rgba(147, 147, 147, 0.77);
  border-radius: 10px;
  z-index: 999;
}
.MsgCover {
  background: #4d4e53;
  opacity: 0.3;
  z-index: 99;
}
.MaskCover {
  background: transparent;
  opacity: 0.3;
  z-index: 99;
}
.switch-icon1 {
  width: 150px;
  height: 60px;
  line-height: 60px;
  border-radius: 5px;
  background-color: #0aadfb;
}
.B1 {
  background-image: linear-gradient(-136deg, #fccf6e 0%, #f96215 100%);
  box-shadow: 0 0 10px 0 #fba34a;
  border-radius: 10px;
}
.B2 {
  background-image: linear-gradient(-135deg, #fc76c0 0%, #f84176 100%);
  box-shadow: 0 0 10px 0 #fa5a9a;
  border-radius: 10px;
}
.B3 {
  background-image: linear-gradient(-135deg, #4ff29d 0%, #12d578 100%);
  box-shadow: 0 0 10px 0 #5af0a4;
  border-radius: 10px;
}
.B4 {
  background-image: linear-gradient(-135deg, #5fc8ff 0%, #1f73fc 100%);
  box-shadow: 0 0 10px 0 #41a0fe;
  border-radius: 10px;
}
.B5 {
  background-image: linear-gradient(-132deg, #6fdef4 0%, #0bacfb 100%);
  box-shadow: 0 0 10px 0 #51cff6;
  border-radius: 10px;
}
.B6 {
  background-image: linear-gradient(-135deg, #62f1b1 0%, #14c1d7 100%);
  box-shadow: 0 0 10px 0 #4de3d1;
  border-radius: 10px;
}
.B7 {
  background-image: linear-gradient(-132deg, #f89a57 0%, #ed5555 100%);
  box-shadow: 0 0 10px 0 #f27d68;
  border-radius: 10px;
}
.B8 {
  background-image: linear-gradient(-134deg, #a976e6 0%, #5e41c9 100%);
  box-shadow: 0 0 10px 0 #986ae0;
  border-radius: 10px;
}
